@import "../../../styles/variables.scss";

.ContentContainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $max-container-width) {
  .ContentContainer {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.MyGallery {
  img {
    border-radius: 5px;
  }
  button {
    border-radius: 10px;
  }
}